In [1]:
# 구구단 3단을 출력하라.
# 단 홀수 번째만 출력한다.

for i in range(10):
    if i % 2 != 0:
        result = 3*i
        print(f'3x{i} = {result}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [19]:
# ------404------
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
    
multiple = 1
for i in range(1,11):
    multiple *= i
    print(multiple)

1
2
6
24
120
720
5040
40320
362880
3628800

In [27]:
# ----404------
# 1부터 100까지 숫자 중 짝수 더하기

reslt = 0

for i in range(1,31):
    if i % 2 ==0:
        reslt += i
    
print(reslt)

240

In [30]:
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
# for문을 사용하여 A 학급의 평균 점수를 구해 보자.

scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for score in scores:
    a = sum(scores)/len(scores)
print(a)

----------------------------

total = 0
for score in scores:
    total = total + score
    average = total / len(scores)
print(average)

79.0

In [9]:
# lotto

import random

for i in range(5):
    i = random.sample(range(1,46),6)
    print(i)

[6, 9, 11, 35, 25, 26]
[17, 29, 14, 16, 28, 1]
[10, 30, 42, 5, 39, 43]
[41, 42, 45, 32, 22, 34]
[40, 4, 39, 42, 25, 1]

In [22]:
for i in range(2,10):
    for j in range(1,10):
        print('%dx%d=%2d' %(i,j,i*j),end='  ')
    print()

2x1= 2  2x2= 4  2x3= 6  2x4= 8  2x5=10  2x6=12  2x7=14  2x8=16  2x9=18
3x1= 3  3x2= 6  3x3= 9  3x4=12  3x5=15  3x6=18  3x7=21  3x8=24  3x9=27
4x1= 4  4x2= 8  4x3=12  4x4=16  4x5=20  4x6=24  4x7=28  4x8=32  4x9=36
5x1= 5  5x2=10  5x3=15  5x4=20  5x5=25  5x6=30  5x7=35  5x8=40  5x9=45
6x1= 6  6x2=12  6x3=18  6x4=24  6x5=30  6x6=36  6x7=42  6x8=48  6x9=54
7x1= 7  7x2=14  7x3=21  7x4=28  7x5=35  7x6=42  7x7=49  7x8=56  7x9=63
8x1= 8  8x2=16  8x3=24  8x4=32  8x5=40  8x6=48  8x7=56  8x8=64  8x9=72
9x1= 9  9x2=18  9x3=27  9x4=36  9x5=45  9x6=54  9x7=63  9x8=72  9x9=81

In [123]:
for i in range(1,6):
    print('* '*i)


for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *

In [124]:
for i in range(1,6):
    for j in range(6-i):
       print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [129]:
for i in range(6):
    for j in range(5,i,-1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [140]:
str1 = ''
for i in range(1,7):
    for j in range(6,i,-1):
        str1 += ' '
    for k in range(0,2*i-1):
        str1 += '*'
    str1 += '\n'



for i in range(2):
    for i in range(4):
        str1 += ' '
    for k in range(3):
        str1 += '*'
    str1 += '\n'

print(str1)

     *
    ***
   *****
  *******
 *********
***********
    ***
    ***

In [126]:
import time

for i in range(10,-1,-1):
    print(i)
    time.sleep(1)

10
9
8
7
6
5
4
3
2
1
0

In [4]:
for i in range(1,10):
    if i ==5:
        break
    print(i)

1
2
3
4

In [5]:
for i in range(1,10):
    if i ==5:
        continue
    print(i)

# 일단 브레이크, 컨티뉴는 for, while 안에서만 사용해라

1
2
3
4
6
7
8
9