In [1]:
a = '10'
b = '40'
print(type(float(a/b)))

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [2]:
x = 1
x += 5
x = x+5
print(x)

11

In [3]:
x = 5+4*3 -2/2
print(x)

16.0

In [8]:
a = [1]
b = ['a', 'b', 'c']
b[1] = a[0:1]
print(b)

['a', [1], 'c']

In [9]:
fruit = [1,2,3]
fruit2 = [3]
fruit. append(fruit2)
print(fruit)

[1, 2, 3, [3]]

In [10]:
fruits = ['apple','banana','cherry','grape','orange','strawberry','melon']
print(fruits[-3:], fruits[1::3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

In [12]:
a = [1,2,3,4,5,6]
print(a[1::4])

[2, 6]

In [13]:
li = [10,2,3,5]
li.append(100)
print(li)

li.append(1000)
print(li)

[10, 2, 3, 5, 100]
[10, 2, 3, 5, 100, 1000]

In [14]:
a = [1,2,3]
b = [3,9,1]
c = a+b
print(c)

[1, 2, 3, 3, 9, 1]

In [15]:
for a in range(8):
    a*=(a-1)
print(a)

42

In [20]:
x = int(input())
if 15 < x < 20:
    print(x+3)
elif 21 < x < 30:
    print(x-5)
else:
 print(f'{x} 입니다.')

10 입니다.

In [21]:
my_list = ['i', 'like','studying','python']
new_list = []
i = len(my_list )
if i == 4:
    new_list.append(my_list[::2])
    print(new_list)

[['i', 'studying']]

In [26]:
num = [1, 2, 3, 4, 5, 6]
total = 1

for n in num:
    total*total
print(total)

1

In [27]:
second = ["fish", "lamb", "pork", "beef", "chicken"]
print(second[1::3])

['lamb', 'chicken']

In [29]:
numbers = ['10','11','12','13','14','15','16','17']
total = 0
for number in numbers:
    if int(number)%5 == 0:
        total += int(number)
    else:
        total += 10
        
print(total)

85

In [31]:
list_data_a = [1, 2]
list_data_b = [3, 4]
for i in list_data_a:
    for j in list_data_b:
        result = i + j
print(result)

6

In [32]:
 list_1 = [[1, 2], [3], [4, 5, 6]]
 a,b,c = list_1
 list_2 = a + b + c
 print(list_2)

[1, 2, 3, 4, 5, 6]

In [37]:
a= "H-e-l-l-o-P-y-t-h-o-n"[::3]
print(a)

H-l-y-o

In [39]:
print('****    *\b   ****')

****       ****

In [40]:
course_name = 'This is New AI World'
for i in course_name:
    if i == 'world':
        i = course_name.lower()

print(course_name)

This is New AI World

In [42]:
def test(k):
    print("Input is", k)

k = 100
test(k)

Input is 100

In [43]:
def counter(*args):
    count = len(args)
    return count
print(counter(["test", "hello", "oooo"]))

1

In [45]:
a = (1,2,3,4)
print(a[0])

1