In [3]:
# 5-11

def exam_func():
    x = 10
    print("Value:", x)
x = 20
exam_func()
print("Value:", x)

Value: 10
Value: 20

In [ ]:
# 5-8

name = 'jiho'
def call_my_name():
    print(name)
    name = 'sehoon' #지역변수

call_my_name()

In [4]:
# 5-8 true

name = 'jiho'
def call_my_name():
    name = 'sehoon' #지역변수
    print(name)

call_my_name()

sehoon

In [5]:
def f(x):
    y = x
    x = 7
    return y * x
x = 4
print(f(3))
print(x)

# x=3,y=3,x=7---------21
# x=4------------------4

21
4

In [7]:
country = ["Korea", "Japan", "China"]
country = country.append("Remove")
print(country.remove("Remove"))

AttributeError: 'NoneType' object has no attribute 'remove'

In [8]:
box = [1,'red',3,(),[ ],None]
print(len(box))

6

In [11]:
a = set([1,1,2])
print(a)

{1, 2}

In [14]:
# 7-4



dictionary = {"a": 1, "b": 2, "c": 3}
dictionary.setdefault( 'b', 4 ) 
dictionary.setdefault( 'd', 5 ) 
dictionary["c"]  = dictionary["d"]
dictionary["b"] = dictionary["c"]
dictionary["d"]  = dictionary["b"]
print(dictionary)
print(dictionary.setdefault('b',4))

{'a': 1, 'b': 5, 'c': 5, 'd': 5}
5

In [13]:
help(dictionary.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [15]:
# 7-6
# 튜플은 값을 바꿀 수 없다

fruits = ('apple','banana','cherry','strawberry')
fruits[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

In [16]:
def quiz_2(list_data): 
    a = set(list_data)
    return (list(a)[1:5])
list_1 = [0, 3, 1, 7, 5, 0, 5, 8, 0, 4]
print(quiz_2(list_1))

[1, 3, 4, 5]

In [17]:
# 7-13

# 자료형태 맞추기

a = ""
midterm_set = set([1, 5, 7, 4, 3, 2, 1, 1, 2, 3])
for i in midterm_set:
    a = a+i
print(a)

TypeError: can only concatenate str (not "int") to str

In [18]:
def week_seven(sentence1):
    cells = set(sentence1.replace(' ','').lower())
    return cells
sentence_a = "The quick brown fox jumps over the lazy dog"
sentence_b = "I love you"    
print(len(week_seven(sentence_a)-week_seven(sentence_b)))

19

In [ ]:
# 리스트 내포와 같이 딕셔너리 내포(comprehension)

dog_song = "my dog has brown eyes, my dog is cute"
print({i:j for j,i in enumerate(dog_song.split())})

In [20]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]
k = zip(a,b,c)

print(list(k))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [21]:
def transpose_list(two_dimensional_list):  
    return [row for row in zip(*two_dimensional_list)]

transpose_list([[1, 4, 7], [2, 5, 8], [3, 6, 9]])

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [22]:
date_info = {'year': "2019", 'month': "9", 'day': "6"}
result = "{year}-{month}-{day}".format(**date_info)
print(result )

2019-9-6

In [23]:
class Company:
    def __init__(self):
        self.work = True
        self.name = 'Jane'
        self.gender = 'woman'
        
    def retire(self):
        self.work = False
class Employee(Company):
    def __init__(self, name, gender):
        super().__init__()
        self.name = name
        self.gender = gender
        
    def introduce(self):
        if self.work == True:
            print('I got a job at a company')
            print('My name is', self.name)
            print('I am a', self.gender)
        if self.work == False:
            print('I left the company')
            
em = Employee('james', 'man')
em.retire()
em.introduce()
Employee('james', 'man').introduce()

I left the company
I got a job at a company
My name is james
I am a man

In [24]:
class Person(object):
    def __init__(self, name): 
        self.name = name
def language(self): 
    pass
class Earthling(Person):
    def language(self, language): 
        return language
class Groot(Person):
    def language(self, language): 
        return "I'm Groot!"
name = ['Hanbit', 'Dr.Strange', 'Groot']
country = ['Korea', 'USA', 'Galaxy']
language = ['Korean', 'English', 'Groot']
for idx, name in enumerate(name):
    if country[idx].upper() != 'GALAXY': 
        person = Earthling(name) 
        print(person.language(language[idx]))
    else:
        groot = Groot(name) 
        print(groot.language(language[idx]))

Korean
English
I'm Groot!

In [25]:
class TV(object):
    def __init__(self, size, year, company): 
        self.size = size
        self.year = year 
        self.company = company
    def describe(self):
        print(self.company + "에서 만든 " + self.year + "년형 " \
              + self.size + "인치 " + "TV")
class Laptop(TV):
    def describe(self):
        print(self.company + "에서 만든 " + self.year + "년형 " \
               + self.size + "인치 " + "노트북")
LG_TV = TV("32", "2022", "LG")
LG_TV.describe()
samsung_microwave = Laptop("15" , "2023", "Samsung")
samsung_microwave.describe()

LG에서 만든 2022년형 32인치 TV
Samsung에서 만든 2023년형 15인치 노트북

In [26]:
class Person:
    def __init__(self, name, age, position):
        self.Name = name
        self.Age = age 
        self.Position = position
    def show_info(self):
        print('이름 : {0}'.format(self.Name))
        print('나이 : {0}'.format(self.Age))
        print('직위 : {0}'.format(self.Position))
        print("저는 한빛대학교 {0} {1}입니다. 나이는 {2}입니 다.".format(
               self.Position, self.Name, self.Age))
class Researcher(Person):
    def __init__(self, name, age, position, degree): 
        Person.__init__(self, name, age, position) 
        self.Degree = degree    
    def show_info(self): 
        Person.show_info(self)
        print("저는 {0} 입니다.".format(self.Degree))
if __name__ == '__main__':
    researcher_john = Researcher("John","22", "연구원", "학사")
    researcher_tedd = Researcher("Tedd", "40", "소장", "박사") 
    researcher_john.show_info()
    print("="*50) 
    researcher_tedd.show_info()

이름 : John
나이 : 22
직위 : 연구원
저는 한빛대학교 연구원 John입니다. 나이는 22입니 다.
저는 학사 입니다.
==================================================
이름 : Tedd
나이 : 40
직위 : 소장
저는 한빛대학교 소장 Tedd입니다. 나이는 40입니 다.
저는 박사 입니다.

In [27]:
class IceCream(object):
    def __init__(self, flavor):
        self.flavor = flavor
    def change_flavor(self, new_flavor):
        print('아이스크림을 %s에서 %s로 변경해주세요.' %(self.flavor, 
new_flavor))
        self.flavor = new_flavor
        print('아이스크림 맛을 %s로 변경해드렸어요.' %self.flavor)
ice_cream = IceCream('레인보우 샤베트')
ice_cream.change_flavor('바람과 함께 사라지다')

아이스크림을 레인보우 샤베트에서 바람과 함께 사라지다로 변경해주세요.
아이스크림 맛을 바람과 함께 사라지다로 변경해드렸어요.